nav .link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
}
.page-header .logo {
  color: #2e2f42;
}
/* .header-address:hover,
.header-address:focus {
  color: #404bbf;
} */
