nav .link {
  line-height: 1.5;
  font-weight: 500;
  color: #2e2f42;
}
nav .link:hover,
nav .link:focus {
  color: #404bbf;
}
.page-header .logo {
  color: #2e2f42;
}
.header-address:hover,
.header-address:focus {
  color: #404bbf;
}
